.common-layout {
  margin: 0;
  background-image: url('https://cndevdemo.oss-cn-shanghai.aliyuncs.com/fifa/bg.png');
  background-color: rgb(10, 62, 178);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.container {
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(60, 116, 255, 0), rgb(10, 62, 178));
}
