.common-layout{ 
  margin: 0;
  background-image:url('https://cndevdemo.oss-cn-shanghai.aliyuncs.com/fifa/bg.png');
  background-color: rgb(10,62,178);
  background-size:100%;
  background-repeat:no-repeat;
  background-position:left top;
}
#container{
  width: 100%;
  height: 1100px;
  margin: 0 auto;
  position:relative; 
  background-image: linear-gradient(rgba(60,116,255,0),rgb(10,62,178));
} 

.top{
  width: 1400px;
  height: 280px;
  margin: 0 auto;
}

.top_left{
  color:#fff;
}

.top_left img{
  height: 75px;
  margin: 20px 0 0 0;
  display: inline-block;
}

.top_time {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 13px;
  padding-top: 4px;
  text-shadow: 0px 2px 4px #06399d;
}

.top_countdown {
  position: relative;
  height: 62px;
  margin: 6px 0 0 0;
  line-height: 50px;
}

.top_countdown_title {
  font-size: 18px;
  height: 30px;
  display: inline-block;
  color: #FFFFFF;
  line-height: 31px;
  text-shadow: 0px 2px 4px #06399d;
}

.top_countdown_title span {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: #A00735;
  text-align: center;
  border-radius: 4px;
  position: relative;
  z-index: 3;
  line-height: 27px;
  height: 27px;
}

.countline-single-num {
  margin: 0 6px;
}

.countline-num {
  background: #FFFFFF;
  border: 0.5px solid rgba(255, 255, 255, 0.39);
  border-radius: 3px;
  width: 40px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  text-shadow: none;
  box-shadow: 0px 2px 4px #06399d;
  padding-right: 1px;
  padding-left: 1px;
  font-family: baidunumber-Medium;
}

.content {
  width: 90%;
  
  /*height: 100%;
  border: 1px solid #fff;*/
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  
}



.content_title img{
  height:20px;
  margin:30px 0 15px 0;
  text-align: center;
}

.content_scroll, .content_schedule {
  display: inline-block;
}
.content_scroll img {
  height:350px;
}
.content_schedule img {
  height:600px;
  border-radius:10px;
}
.content_integral{
  margin: 0 auto;
  padding:0 20px;
  width: 70%;
  border-radius: 10px;
  color:#fff;
  background: rgba(6, 50, 138, 0.6);
}

.content_integral ul {
  list-style-type: none;
}
.content_integral ul li {
  line-height: 250%;
}
.team-order {
  display: inline-block;
  width: 9px;
  font-family: baidunumber-Medium;
  font-size: 24px;
  letter-spacing: -1.12px;
  font-weight: 900;
  text-align: left;
  color: #fe7873;
  padding:0 10px;
  line-height: 180%;
  vertical-align: top;
}

.vote {
  /* width: 850px; */
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position:relative; 

}
.content_vote_bg{
  width:100%;
  padding:5px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  background: rgba(6, 50, 138, 0.6);
  vertical-align: middle;
}
.content_vote {
  display: inline-block;
  width: 100%;
  line-height: 180%;
  color:#fff;  
  font-size: 20px;
}
.content_vote ul {
  list-style-type: none;
  
}
.content_vote ul li {
  line-height: 180%;
}
.content_vote ul li:first-child {
  width: 100px;
  text-align: left;
}



.content_vote ul li .country {
  display: inline-block;
  text-align: left;
  width: 60px;
  padding-left: 10px;
  vertical-align: top;
}
.vote_vs {
  font-size: 40px;
  font-weight: 900;
  line-height: 120%;
  padding: 0 10px;
  vertical-align: top;
}
.vs {
  font-size: 30px;
  font-weight: 900;
  line-height: 120%;
  padding: 0 10px;
  vertical-align: top;
}
.voted{
  display: inline-block;
  text-align: right;
}
.voted span { 
  display: inline-block;
  width: 120px;
  color: gray;
  border-radius: 5px;
  background-color: gainsboro;
  text-align: center;
  font-size: 14px;
}
.content_vote ul .vote_button{
  display: inline-block;
  text-align: right;
  width: 350px;
}
#footer{  
  margin-top:20px;  
  height:80px;  

}

